<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<h1>About</h1>
<body>
<p>This inventory system is designed to manage a collection of chains and rings, organized in two separate tables for ease of access and management. The chains table encompasses various types of chains, each with their unique characteristics, making it simple to track and maintain each item. On the other hand, the rings table holds a wide range of rings, each associated with one or more chains, enabling efficient management of collections and assemblies. The intuitive interface of the system provides capabilities to add, update, delete, and search for chains or rings, streamlining the inventory management process. This system brings a high level of usability, making it an ideal solution for managing and navigating through the intricacies of jewelry inventory.</p>
<a href="/mainscreen" class="btn btn-primary btn-sm mb-3">Back</a>
</body>
</html>
